name: Format suggestions
on:
  push:            # Runs on all pushes to any branch
  pull_request:    # Runs on all PR events (open, sync, reopen)
jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/julia-format@v4
        with:
          version: '2'
