name: Format suggestions
on:
  pull_request:
    # this argument is not required if you don't use the `suggestion-label` input
    types: [ opened, reopened, synchronize, labeled, unlabeled ]
jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
    - uses: julia-actions/julia-format@v2
      with:
        julia-version: '1'
        suggestion-label: 'format suggestion'